@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Dark-blue-dark-blue-300: #0a3871;
    --White-: #fff;
    --Light-blue-light-blue-200: #eff1fa;
    --Gray-gray-400: #495057;
}

body {
    background-color: var(--Light-blue-light-blue-200);
    font-family: 'Inter', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    width: 100%;
    height: 100%;
}

#principal {
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#areaTxt {
    width: 41.875rem;
    height: 23.4375rem;
    border: none;
    resize: none;
    outline: none;
    line-height: 150%;
    font-size: 2rem;
    font-weight: 400;
    color: var(--Dark-blue-dark-blue-300);
    background-color: var(--Light-blue-light-blue-200);
}

#areaTxt::placeholder {
    color: var(--Dark-blue-dark-blue-300);
}

.btn {
    width: 20.5rem;
    height: 4.1875rem;
    padding: 1.25rem;
    border-radius: 1.5rem;
    border: 0.0625rem solid var(--Dark-blue-dark-blue-300);
    color: var(--Dark-blue-dark-blue-300);
    cursor: pointer;
}

.contBtns {
    width: 42.5rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.contBtns .btn:first-child {
    background-color: var(--Dark-blue-dark-blue-300);
    color: var(--Light-blue-light-blue-200);
}

#segSecc {
    width: 100vw;
    height: 100dvh;
}

#muñeco {
    width: 300px;
    height: 300px;
}

.flotante {
    width: 21.875rem;
    height: 32.8125rem;
    background-color: var(--White-);
    border-radius: 2.1875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--Dark-blue-dark-blue-300);
}

p {
    text-align: center;
    margin-top: 1rem;
    line-height: 150%;
    padding: 0 1.875rem 0 1.875rem;
}

#btnCopiar {
    display: none;
}

#btnCopiar:hover {
    color: var(--Light-blue-light-blue-200);
    background-color: var(--Dark-blue-dark-blue-300);
    border: var(--Light-blue-light-blue-200);
}

.bold {
    font-size: 1.25rem;
    font-weight: 700;
}

.subTxt {
    font-size: 0.8125rem;
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    #principal {
        flex-direction: column;
        gap: 50px;
        margin: 5rem 0rem 5rem 0rem;
    }

    .contBtns {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #primSecc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .flotante {
        width: 41.875rem;
        margin-bottom: 5rem;
        padding-bottom: 3rem;
    }

    p {
        padding: 0rem;
    }

    #muñeco {
        width: 400px;
        height: 400px;
    }

}

@media screen and (max-width: 767px) {
    #principal {
        flex-direction: column;
        gap: 50px;
        margin: 5rem 0rem 5rem 0rem;
    }

    .contBtns {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .flotante {
        width: 21rem;
        margin-bottom: 5rem;
        padding-bottom: 3rem;
        padding: 4rem;
    }

    p {
        padding: 0rem;
    }

    #muñeco {
        width: 275px;
        height: 275px;
    }

    #areaTxt {
        width: 21rem;
    }

}